.filter {
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: 10%;
  border-radius: var(--border-radius-small);
  background-color: var(--color-option3);
  box-shadow: 11px 11px 50px -2px var(--color-option4);
  -webkit-box-shadow: 11px 11px 50px -2px var(--color-option4);
  -moz-box-shadow: 11px 11px 50px -2px var(--color-option4);
}

.filter__button {
  width: 50%;
  height: 50%;
  border-style: none;
  background-color: transparent;
  color: var(--color-option4);
  font-weight: var(--font-weight-bold);
}
