.joboffer {
  width: 80%;
  height: fit-content;
  position: relative;
  padding: var(--spacing-small);
  padding-top: var(--spacing-regular);
  border-radius: var(--border-radius-small);
  background-color: var(--color-option3);
  -webkit-box-shadow: 0px 10px 15px 4px rgba(123, 142, 142, 0.33);
  box-shadow: 0px 10px 15px 4px rgba(123, 142, 142, 0.33);
}

.joboffer:focus,
.joboffer:hover {
  border-left: 0.3rem solid var(--color-option1);
}

.joboffer__image--container {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1.5rem;
  left: 1rem;
}

.joboffer__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.joboffer__details {
  padding-bottom: var(--spacing-small);
  border-bottom: 0.1rem solid var(--color-option4);
}

.joboffer__info {
  margin-bottom: var(--spacing-extrasmall);
  display: flex;
  align-items: center;
}

.joboffer__company {
  margin-right: var(--spacing-extrasmall);
  font-size: var(--font-size-extrasmall);
  color: var(--color-option1);
}

.joboffer__new {
  padding: var(--spacing-extrasmall);
  margin-right: var(--spacing-extrasmall);
  font-size: var(--font-size-extrasmall);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-normal);
  text-transform: uppercase;
  background-color: var(--color-option1);
  color: var(--color-option3);
}

.joboffer__featured {
  padding: var(--spacing-extrasmall);
  font-size: var(--font-size-extrasmall);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-normal);
  text-transform: uppercase;
  background-color: var(--color-option5);
  color: var(--color-option3);
}

.joboffer__title {
  margin-bottom: var(--spacing-extrasmall);
  font-size: var(--spacing-small);
}

.joboffer__extra {
  display: flex;
}

.joboffer__status1 {
  margin-right: var(--spacing-extrasmall);
  color: var(--color-option4);
}

.joboffer__status2 {
  margin-right: var(--spacing-extrasmall);
  margin-left: var(--spacing-extrasmall);
  color: var(--color-option4);
}
.joboffer__status3 {
  margin-left: var(--spacing-extrasmall);
  color: var(--color-option4);
}

.joboffer__keywords {
  padding-top: var(--spacing-small);
  display: flex;
  flex-wrap: wrap;
}

.joboffer__badge {
  padding: var(--spacing-extrasmall);
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  font-size: var(--font-size-extrasmall);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-extrasmall);
  background-color: var(--color-option8);
  color: var(--color-option1);
}

.joboffer__badge:focus,
.joboffer__badge:hover {
  background-color: var(--color-option1);
  color: var(--color-option3);
}
